html {
  box-sizing: border-box;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

#logo {
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 2em;
  width: 100%;
}

h1 {
  font-family: "Pacifico";
  color: #2dc0ce;
  text-shadow: 
  2px 2px 0px #ffffff, 
  5px 5px 0px rgba(0, 0, 0, 0.1);
}

h2{
  font-family: "Pacifico";
  color: #f3766e;
  
}

body {
  background: #ffe189;
}

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(111, 44, 83, 0.2);
  border-radius: 25px;
  border: 5px solid #139dd3;
  background-color: #ffffff;
  height: 36em;

}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-family: "Comfortaa"
}

.row {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
}

.sarah {
  color: #2dc0ce;
}

.can {
  color: #8dc63f;
}

.kc {
  color: #964796;
}

.heidi {
  color: #8b5e3c;
}
