html,
body {
height: 100%;
font-family: "Comfortaa"
}

body {
display: flex;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #f6d7de;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 900;
    color: #2dc0ce;
  /* text-shadow: 0.1em 0.1em 0 #012939, 0 0 0.5em #ffff; */
    text-shadow: 
    2px 2px 0px #ffffff, 
    5px 5px 0px rgba(0, 0, 0, 0.1);
}

.button {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 20em;
    margin: 0 auto;
}

.quickstart, .login, .tutorial, .aboutus {
    margin:4px;
}

.quickstart form input {
    background-color: #2dc0ce;
    padding: 1em;
    font-weight: bolder;
}

.quickstart form input:hover {
    background-color: #139dd3;
}

.form-signin {
max-width: 60%;
padding: 15px;
}

.form-signin .form-floating:focus-within {
z-index: 2;
}

.form-signin input[type="text"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
font-family: "Comfortaa"
}

.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.btnlogin {
    background-color: #f3766e;
    font-family:"Comfortaa";
    color: #ffff;
    font-weight: 300;
}

.btnlogin:hover {
    background-color: #f7945d;
    color: #ffff;
    font-weight: bolder;
}
