* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: #8ADFE3;
  }
  
  .game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  #logo{ 
    position:fixed; 
    top:0; 
    left:0; 
  } 

  button {
    cursor: pointer;
}

.disabled {
    color: #757575;
}

button {
  background: #282A3A;
  color: #FFF;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-family: Fredoka;
  font-size: 18pt;
}

.disabled {
  color: #757575;
}

.stats {
  color: #FFF;
  font-size: 14pt;
}


  
  .cards {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 8px;
  }
  
  .cards:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .cards.flip {
    transform: rotateY(180deg);
  }

  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 8px;
    background: #F79C65;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
